

.card-small{
    max-width: 80px;
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
}

.btn-edit {
    background-color: #ff4;
    color: #000;
    border: 2px;
    margin: 2px;
    transition-duration: 0.2s;
    /* width: fit-content; */
}

.btn-edit:hover {
    background-color: #cc2;
    color: #000;
  }

  .btn-del {
    background-color: #f66;
    color: #000;
    border: 2px;
    margin: 2px;
    transition-duration: 0.2s;
}

.btn-del:hover {
    background-color: #800;
    color: #000;
  }
